@import "/src/styles/_colors";
@import "/src/styles/_variables";

.form {
    padding: 7px;
    background: $base-white;
    border-radius: 5px;
    position: relative;

    .input {
        width: 100%;
        border-bottom: 1px solid;
        outline: none;
    }

    .label {
        position: absolute;
        left: 15px;
        right: 15px;
        top: -4px;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
        line-height: 40px;
        transition: 0.3s ease-in-out;
    }

    .input:focus~.label,
    .input:not(:focus):valid~.label {
        top: -14px;
        font-size: 10px;
        color: $base-gray-text;
    }
}