@import "/src/styles/_colors";
@import "/src/styles/_variables";

.taskDropdown {
    padding: 10px;
    cursor: pointer;

    transition: $transitionHover;

    &:hover {
        background: $baseGrayHover;
    }
}