@import "/src/styles/_colors";
@import "/src/styles/_variables";

.listBlocks {
    display: flex;
    gap: 24px;
    width: 100%;
    
    .wrapBlock {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .block {
        width: 100%;
        min-width: 282px;
        background: $base-gray;
        border-radius: 10px;
        padding: 12px;

        display: flex;
        flex-direction: column;
        row-gap: 15px;
        height: fit-content;
    }
}

@media (max-width: 1240px) {

    .listBlocks {
        flex-wrap: wrap;

        .block {
            max-width: 800px;
        }
    }
}