@import "/src/styles/_colors";
@import "/src/styles/_variables";

.cardTask {
    width: 100%;
    height: 100%;
    padding: 17px 28px;
    background: $baseWhite;
    border-radius: $borderRadiusSmall;

    display: flex;
    flex-direction: column;
    gap: 35px;

    .heading {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
    }
}