@import "/src/styles/_colors";
@import "/src/styles/_variables";


.button {
    cursor: pointer;
    width: fit-content;
    border: none;
    font-family: inherit;
    padding: 4px 8px;
    display: flex;
    gap: 4px;

    background: $baseWhite;
    border-radius: $borderRadiusSmall;
    transition: $transitionHover;

    &:hover {
        box-shadow: $boxShadowSmall;
    }

    &:active {
        box-shadow: $boxShadowSmall;
    }
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}