@import "/src/styles/_colors";
@import "/src/styles/_variables";

.itemTask {
    width: 100%;
    height: auto;
    background: $base-white;
    border-radius: 5px;
    overflow: hidden;
    padding: 22px 28px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    .heading {
        display: flex;
        justify-content: space-between;

        .taskName {
            font-size: $font-size-subtitle;
        }

        .btnClose {
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border-radius: 10px;
            cursor: pointer;
            padding: 8px;
            transition: 0.3s ease-in-out;

            &:hover {
                transform: rotate(90deg);
                box-shadow: 2px -2px 4px #0000004d;
                background: $btn-close;
            }
        }
    }
}

.description {
    height: 100%;
    opacity: 0.5;
    resize: none;
    outline: none;
}

.descriptions {
    height: 100%;
    resize: none;
    outline: none;
}