@import "/src/styles/_colors";
@import "/src/styles/_variables";

.header {
    min-height: 55px;
    background: $base-blue;
    padding: 0px 20px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 640px) {

    .header {
        justify-content: end;

        .titleWrap {
            display: none;
        }
    }
}