@import "/src/styles/_colors";
@import "/src/styles/_variables";

.dropdownList {
    position: relative;
    z-index: 1;

    .arrow {
        padding: 8px;
        background: $base-white;
        border-radius: 5px;
        text-align: end;
        cursor: pointer;

        &:hover {
            background: $background-task-hover;
        }

        .iconClose {
            width: 15px;
            height: 15px;
        }
    }
    
    .list {
        position: absolute;
        top: 41px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
    
        .item {
            padding: 8px;
            background: $base-white;
            cursor: pointer;

            &:hover {
                background: $background-task-hover;
            }
        }
    }
}

@media (max-width: 1240px) {

    .dropdownList {
        
        .list {
            height: 11vh;
            overflow-y: auto;
        }
    }
}