@import "/src/styles/_colors";
@import "/src/styles/_variables";

.listTask {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.taskWrap {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    background: $base-white;
    cursor: pointer;

    &:hover {
        background: $background-task-hover;
        box-shadow: 2px 2px 4px #0000004d;
    }
    
    .task {
        width: 100%;
        padding: 8px;
    }

    .btnDelete {
        background: transparent;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background: $btn-close;
        }

        .iconClose {
            width: 13px;
            height: 13px;
        }
    }
}