@import "/src/styles/_colors";
@import "/src/styles/_variables";

.taskForm {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .buttonPanel {
        display: flex;
        gap: 10px;
    }
}